# The Series Data Structure

In [2]:
import pandas as pd
pd.Series?

A pandas series can be constructed by passing a list of items of the same type

In [3]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [4]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

To specify your own index, you can also pass a dictionnary

In [7]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
print(s.sum())
print(s.max())
print ('sum= {}, mean= {}, max= {}, min= {}'.format(s.sum(), s.mean(), s.max(), s.min()))

324.0
120.0
sum= 324.0, mean= 81.0, max= 120.0, min= 3.0

In [8]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

# Querying a Series

In [9]:
s.iloc[3]  # iloc with an integer representing the position of the index

'South Korea'

In [10]:
s.loc['Taekwondo']  # loc with the label of the index

'South Korea'

In [11]:
s[3]

'South Korea'

In [12]:
s['Taekwondo']

'South Korea'

# The DataFrame Data Structure
A pandas dataframe can be constructed by passing a list of pandas series

In [14]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00}) 
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 2', 'Store 3']) 
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn
Store 3   5.0      Bird Seed  Vinod

In [15]:
df.loc['Store 2']

Cost                       2.5
Item Purchased    Kitty Litter
Name                     Kevyn
Name: Store 2, dtype: object

In [16]:
type(df.loc['Store 2'])

pandas.core.series.Series

In [ ]:
df.loc['Store 1']

In [ ]:
df.loc['Store 1', 'Cost']

In [ ]:
df.loc['Store 1']['Cost']

In [17]:
df['Cost']

Store 1    22.5
Store 2     2.5
Store 3     5.0
Name: Cost, dtype: float64

In [ ]:
df['Cost'] = df.Cost + 2
df.Cost

In [ ]:
df.loc[:,['Name', 'Cost']]

In [ ]:
df.drop('Store 1', inplace = True)

In [ ]:
df

# Dataframe Indexing and Loading
Let's play with the All-time Olympic Games medal table from wikipedia: https://en.wikipedia.org/w/index.php?title=All-time_Olympic_Games_medal_table&oldid=697531834

In [22]:
df = pd.read_csv('olympics.csv')   
df.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,â„– Summer,01 !,02 !,03 !,Total,â„– Winter,01 !,02 !,03 !,Total,â„– Games,01 !,02 !,03 !,Combined total
1,AfghanistanÂ (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

It seems that there is a problem. Pandas has added an index and put the first row as the columns names. Let's fix this

In [23]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

,â„– Summer,01 !,02 !,03 !,Total,â„– Winter,01 !.1,02 !.1,03 !.1,Total.1,â„– Games,01 !.2,02 !.2,03 !.2,Combined total
AfghanistanÂ (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [24]:
df.columns

Index(['â„– Summer', '01 !', '02 !', '03 !', 'Total', 'â„– Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', 'â„– Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [25]:
for col in df.columns:
    if col[:2]=='01':  # Check if the column starts with 01
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True) # Rename the colmun as Gold and add .2 in case of a winter medal
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
AfghanistanÂ (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

Let's print some summaries about the dataframe

In [26]:
df.shape

(147, 15)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147 entries, AfghanistanÂ (AFG) to Totals
Data columns (total 15 columns):
# Summer          147 non-null int64
Gold              147 non-null int64
Silver            147 non-null int64
Bronze            147 non-null int64
Total             147 non-null int64
# Winter          147 non-null int64
Gold.1            147 non-null int64
Silver.1          147 non-null int64
Bronze.1          147 non-null int64
Total.1           147 non-null int64
# Games           147 non-null int64
Gold.2            147 non-null int64
Silver.2          147 non-null int64
Bronze.2          147 non-null int64
Combined total    147 non-null int64
dtypes: int64(15)
memory usage: 18.4+ KB

In [28]:
df.describe()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
count,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000
mean,13.476190,65.428571,64.965986,69.795918,200.190476,6.700680,13.047619,13.034014,12.897959,38.979592,20.176871,78.476190,78.000000,82.693878,239.170068
std,7.072359,405.549990,399.309960,427.187344,1231.306297,7.433186,80.799204,80.634421,79.588388,240.917324,13.257048,485.013378,478.860334,505.855110,1469.067883
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.000000,0.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000,0.000000,1.000000,1.000000,2.500000
50%,13.000000,3.000000,4.000000,6.000000,12.000000,5.000000,0.000000,0.000000,0.000000,0.000000,15.000000,3.000000,4.000000,7.000000,12.000000
75%,18.500000,24.000000,28.000000,29.000000,86.000000,10.000000,1.000000,2.000000,1.000000,5.000000,27.000000,25.500000,29.000000,32.500000,89.000000
max,27.000000,4809.000000,4775.000000,5130.000000,14714.000000,22.000000,959.000000,958.000000,948.000000,2865.000000,49.000000,5768.000000,5733.000000,6078.000000,17579.000000

In [29]:
df['Combined total'].argmax()

'Totals'

In [30]:
df.drop('Totals', axis=0, inplace =True)
df.shape

(146, 15)

In [31]:
df

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
AfghanistanÂ (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
AustraliaÂ (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
AustriaÂ (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
AzerbaijanÂ (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
BahamasÂ (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
BahrainÂ (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
BarbadosÂ (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
BelarusÂ (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
BelgiumÂ (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
BermudaÂ (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
BohemiaÂ (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
BotswanaÂ (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
BrazilÂ (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
British West IndiesÂ (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
BulgariaÂ (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
BurundiÂ (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
CameroonÂ (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
CanadaÂ (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
ChileÂ (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
ChinaÂ (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
ColombiaÂ (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa RicaÂ (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Ivory CoastÂ (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
CroatiaÂ (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
CubaÂ (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
CyprusÂ (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SpainÂ (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Sri LankaÂ (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
SudanÂ (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
SurinameÂ (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
SwedenÂ (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
SwitzerlandÂ (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
SyriaÂ (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese TaipeiÂ (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
TajikistanÂ (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
TanzaniaÂ (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
ThailandÂ (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
TogoÂ (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
TongaÂ (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
Trinidad and TobagoÂ (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
TunisiaÂ (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
TurkeyÂ (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
UgandaÂ (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
UkraineÂ (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab EmiratesÂ (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United StatesÂ (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
UruguayÂ (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
UzbekistanÂ (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
VenezuelaÂ (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
VietnamÂ (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
Virgin IslandsÂ (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
YugoslaviaÂ (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic ParticipantsÂ (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
ZambiaÂ (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
ZimbabweÂ (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed teamÂ (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17

In [32]:
df.describe()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
count,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000
mean,13.383562,32.938356,32.705479,35.136986,100.780822,6.595890,6.568493,6.561644,6.493151,19.623288,19.979452,39.506849,39.267123,41.630137,120.404110
std,7.006657,96.745184,80.648421,77.118416,252.700436,7.349012,18.975086,18.606996,17.499654,54.640914,13.084062,109.932471,93.984393,89.826117,291.988913
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.000000,0.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000,0.000000,1.000000,1.000000,2.250000
50%,13.000000,3.000000,4.000000,6.000000,12.000000,5.000000,0.000000,0.000000,0.000000,0.000000,15.000000,3.000000,4.000000,6.500000,12.000000
75%,18.000000,23.000000,26.750000,28.750000,85.250000,10.000000,0.750000,1.750000,1.000000,4.750000,26.000000,24.500000,28.000000,29.000000,87.750000
max,27.000000,976.000000,757.000000,666.000000,2399.000000,22.000000,118.000000,111.000000,100.000000,329.000000,49.000000,1072.000000,859.000000,750.000000,2681.000000

In [33]:
df['Combined total'].argmax()

'United States\xa0(USA) [P] [Q] [R] [Z]'

In [ ]:
%matplotlib inline
df['Combined total'].hist(bins=100)

# Use a boolean mask

In [ ]:
df['Combined total'] > 500

We can use the above expression as an index to get a dataframe with the combined total > 500

In [ ]:
df[df['Combined total'] > 500]

You can use multiple conditions, using "OR = |", "AND = &"

In [ ]:
at_least_one_gold = df[(df['Gold'] > 0) | (df['Gold.1'] > 0)]
at_least_one_gold.head()

In [ ]:
only_winter_gold = df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]
only_winter_gold

# Indexing Dataframes

In [ ]:
df = pd.read_csv('census.csv')
df.head()

In [ ]:
df['SUMLEV'].unique()

In [ ]:
df=df[df['SUMLEV'] == 50]  # get rid of the rows that are summaries at the state level "40"
df.head()

In [ ]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

In [ ]:
df = df.set_index(['STNAME', 'CTYNAME'])  # Multi-level indexing
df.head()

In [ ]:
df.loc['Michigan', 'Washtenaw County']

In [ ]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

# Missing values

In [ ]:
df = pd.read_csv('log.csv')
df

In [ ]:
df = df.set_index('time')
df = df.sort_index()
df

In [ ]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

In [ ]:
df.fillna?

In [ ]:
df = df.fillna(method='ffill')
df